name: brew

on:
  repository_dispatch:
    types: [release]

jobs:
  brew:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - run: brew config

    - run: ruby tools/update.rb ${{ github.event.client_payload.product }} latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.event.client_payload

    - run: brew install ./${{ github.event.client_payload.product }}.rb
      if: github.event.client_payload
      env:
        HOMEBREW_DEVELOPER: true

    - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
      if: github.event.client_payload
      with:
        commit_message: Update ${{ github.event.client_payload.product }}

