name: brew

on:
  repository_dispatch:
    types: [release]

jobs:
  brew:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - run: brew config

    - run: ruby tools/update.rb ${{ github.event.client_payload.product }} latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.event.client_payload

    - run: brew install ./${{ github.event.client_payload.product }}.rb
      if: github.event.client_payload
      env:
        HOMEBREW_DEVELOPER: true

    - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
      if: github.event.client_payload
      with:
        commit_message: Update ${{ github.event.client_payload.product }}

